{% extends 'base.html.twig' %}

{% block title %} Connexion{% endblock %}

{% block body %}
    <!--login form-->
    <form action=""class="login-form">

        <h3>login form</h3>

        <input type="email"placeholder="Email"class="box">
        <input type="password"placeholder="Password"class="box">

        <div class="remember">
            <input type="checkbox"name=""id="remember-me">
            <label for="remember-me">souviens-toi de moi</label>

        </div>
        <a href="#" class="btn">login</a>
    </form>

    <!-- end login form-->

{% endblock %}
